body
{
font-family:arial;
margin:0;
background:#eeeeee url('?grad') repeat-x;
color:#222;
}

body > *
{
/*For fade in after JS manipulation*/
display:none;
}


#left
{
position:absolute;
left:0;right:50%;
top:0;bottom:0;
background:#eeeeee url('?grad') repeat-x;
}

#left > *,#right > *
{
margin:10px;
left:0;
right:0;
}


#right
{
position:absolute;
left:50%;right:0;
top:0;bottom:0;
overflow:hidden;
}

#right > *
{
margin-left:0;
}

#left form
{
position:absolute;
}

#search
{
left:0;right:0;
position:absolute;
color:#333;
font-size:19px;
margin:0;
padding:10px;
padding-left:40px;
border:none;
box-shadow: inset 0 1px 2px #333;
}

#albumArt img
{
width:100%;
height:100%;
background:rgba(255,255,255,0.8);
}

#nowPlaying
{
position:absolute;
}

#albumArt
{
background:#fff;
width:128px;
height:128px;
margin-right:20px;
background:#ffffff url('?cd') no-repeat center center;
border: 1px solid #ccc;
border-top:1px solid #a0a0a0 !important;
border-bottom:1px solid #ddd !important;
overflow:hidden;
float:left;
}

#nowPlaying h2
{
margin-top:10px;
}

#searchResults, #playlist, #controls
{
position:absolute;
bottom:0;
background:#fff;
overflow:auto;
border: 1px solid #ccc;
border-top:1px solid #a0a0a0 !important;
border-bottom:1px solid #ddd !important;
}

#playlist
{
top:170px;
}

#searchResults
{
top:50px;
}

#controls
{
top:138px;
height:32px;
background:#eeeeee url('?grad') repeat-x;
overflow:hidden;
padding-left:10px;
padding-right:10px;
}


#controls > *
{
float:left;
}

#controls > *:hover
{
opacity:0.5;
}

.item
{
background:#fcfcfc url('?grad') repeat-x;
text-align:left;
padding:10px;
border-bottom:#ddd solid 1px;
min-height:32px;
}

.item:hover,.playing
{
background:#f0f0f0 url('?grad') repeat-x;
}

.playing
{
box-shadow: inset 0 1px 2px #333;
}

.item .artist
{
color:gray;
margin-right:15px;
float:left;
}

.item .title
{
}

.item .context
{
font-size:12px;
}

.item .state
{
float:right;
font-style:italic;
color:gray;
}

#searchIcon
{
position:absolute;
left:0;
top:8px;
}

.message
{
position:absolute;
right:0;left:0;top:40%;
text-align:center;
color:gray;
font-style:italic;
margin:10px;
}
