body
{
font-family:arial;
margin:0;
background:#f2f2f2;
color:#222;
}

#searcher
{
position:absolute;
left:0;right:40%;
top:0;bottom:0;
}

#searcher > *,#player > *
{
position:absolute;
margin:10px;
left:0;
right:0;
}

.bottom
{
bottom:0;
height:25px;
}

.bottom > *
{
margin-top:5px;
}

#player
{
position:absolute;
right:0;left:60%;
top:0;bottom:0;
overflow:hidden;
border-left: 1px solid #ccc;
}

#search
{
position:absolute;
left:0;right:0;
color:#333;
font-size:19px;
margin:0;
padding:10px;
padding-left:40px;
border:none;
box-shadow: inset 0 1px 2px #333;
}

#albumArt img
{
width:100%;
height:100%;
background:rgba(255,255,255,0.8);
}

#nowPlaying
{
height:130px;
overflow:hidden;
}

#albumArt
{
background:#fff;
width:128px;
height:128px;
margin-right:20px;
background:#ffffff url('cd.png') no-repeat center center;
border: 1px solid #ccc;
border-top:1px solid #a0a0a0;
border-bottom:1px solid #ddd;
overflow:hidden;
float:left;
}

#nowPlaying .title
{
font-weight:bold;
margin-top:10px;
margin-bottom:10px;
}

#searchResults, #playlist
{
bottom:0;
background:#fff;
overflow:auto;
border: 1px solid #ccc;
border-top:1px solid #a0a0a0;
border-bottom:1px solid #ddd;
bottom:25px;
}

#playlist
{
top:170px;
}

#searchResults
{
top:50px;
}

#controls
{
top:134px;
height:32px;
overflow:hidden;
padding-left:4px;
}

#pause
{
display:none;
}

#controls > *
{
float:left;
}

#controls > * :active
{
position:relative;
top:1px;
}

#controls > *:hover
{
opacity:0.5;
}

#controls .progress
{
position:absolute;
left:138px;
right:0;
background:white;
margin-top:12px;
margin-left:5px;
height:8px;
overflow:hidden;
border: 1px solid #ccc;
border-top:1px solid #a0a0a0;
border-bottom:1px solid #ddd;
}

#controls .progress:hover
{
opacity:1.0;
}

#controls .progress .bar
{
width:0;
height:100%;
background:gray repeat-x;
}

.item
{
background:#fcfcfc repeat-x;
text-align:left;
padding:10px;
border-bottom:#ddd solid 1px;
min-height:32px;
}

.item:hover,.playing
{
background:#f0f0f0 repeat-x;
}

.playing
{
box-shadow: inset 0 1px 2px #333;
}

.item .artist
{
color:gray;
margin-right:15px;
float:left;
}

.item .title
{
}

.item .context,#nowPlaying .artist
{
font-size:12px;
}

.item .state
{
float:right;
font-style:italic;
color:gray;
}

#searchIcon
{
position:absolute;
left:0;
top:8px;
}

.message
{
right:0;left:0;top:0;
text-align:center;
color:gray;
font-style:italic;
margin:10px;
}

#searcher .message
{
margin-top:240px;
}

#player .message
{
margin-top:320px;
}
