/*
    This file is part of Vosbox.

    Vosbox is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Vosbox is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Vosbox.  If not, see <http://www.gnu.org/licenses/>.

    Vosbox copyright Callan Bryant 2011-2012 <callan.bryant@gmail.com> http://callanbryant.co.uk/
*/

body{
font-family:arial;
margin:0;
background:#f2f2f2;
color:#222;
}

#searcher{
position:absolute;
left:0;right:40%;
top:0;bottom:0;
}

#searcher > *,#player > *{
position:absolute;
margin:10px;
left:0;
right:0;
}

.bottom{
bottom:0;
height:25px;
}

.bottom > *{
margin-top:5px;
}

#player{
position:absolute;
right:0;left:60%;
top:0;bottom:0;
overflow:hidden;
border-left: 1px solid #ccc;
}

#search{
position:absolute;
left:0;right:80px;
color:#333;
font-size:19px;
margin:0;
padding:6px;
padding-left:5px;
border: 1px solid #ccc;
height:22px;
}

#doSearch{
position:absolute;
right:0;
padding:10px;
float:right;
height:36px;
}

#doSearch:active,#progress:active !important{
top:0;
}

#nowPlaying{
height:130px;
overflow:hidden;
}

#nowPlaying .artist:hover, #nowPlaying .album:hover,#nowPlaying .title:hover{
opacity:0.5;
}

#albumArt{
width:128px;
height:128px;
border: 1px solid #ccc;
margin-right:20px;
overflow:hidden;
float:left;
}

#albumArt img{
height:100%;
width:100%;
}

#nowPlaying .title{
font-weight:bold;
margin-top:10px;
margin-bottom:10px;
}

#searchResults, #playlist{
bottom:0;
background:#fff;
overflow:auto;
border: 1px solid #ccc;
bottom:25px;
}

#playlist{
top:170px;
}

#searchResults{
top:45px;
}

#controls{
top:134px;
height:32px;
overflow:hidden;
padding-left:4px;
}

#pause{
display:none;
}

#controls > *{
float:left;
}

#controls > * :active{
position:relative;
top:1px;
}

#controls > *:hover{
opacity:0.6;
}

#controls .progress{
position:absolute;
left:138px;
right:0;
margin-top:12px;
height:6px;
overflow:hidden;
border:1px solid #ccc;
}

#controls .progress:hover{
opacity:1.0;
}

.progress > .bar{
float:left;
position:absolute;
width:0;
height:100%;
background:#ccc;
}

.progress > .bar#elapsed{
background:gray;
}
.item{
text-align:left;
padding:10px;
border-bottom:#f8f8f8 solid 1px;
min-height:32px;
}

.item .removeButton{
float:right;
font-size:28px;
color:#666666;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin-top:2px;
}

#searchResults .item .removeButton{
display:none;
}

.item .removeButton:hover{
opacity:0.5;
}

.item .time{
font-style:italic;
color:gray;
font-size:10px;
margin-left:10px;
}

#playlist .placeholder{
box-shadow:inset 0 1px 3px #777;
height:58px;
}

.item:hover,.selected{
background:#fcfcfc;
}

.item .artist{
color:gray;
margin-right:15px;
float:left;
}

.selected{
outline:1px solid #ccc;
}

.item .album,#nowPlaying .artist,#nowPlaying .year{
font-size:12px;
}

.state{
float:right;
font-style:italic;
color:gray;
font-size:10px;
margin:12px;
}

.item > .icon, .item > .icon> img{
height:31px;
width:31px;
}

.item .icon{
float:left;
margin-right:10px;
border:1px solid #f8f8f8;
}

/*Contents is searched for on click* /
.tag:hover{
color:black;
}*/

.message{
right:0;left:0;top:0;
text-align:center;
color:gray;
font-style:italic;
margin:10px;
}

#searcher .message{
margin-top:240px;
}

#player .message{
margin-top:320px;
}

.share-url{
color:#666666;
font-size:14px;
border:1px solid gray;
padding:5px;
margin-top:10px;
width:268px;
}
